body{
    padding: 20px ;
}
h4{
    font-family: "Homer Simpson UI";
}
.img{
    float: left;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    gap: 1em;
}
.grid div{
    padding: 20px;
}
.grid .reservas:hover{
    border: 3px solid #c9dcf1;
    background-color: #f2f4f7;
} 
.grid .datos:hover{
    border: 3px solid #f3f2c7;
    background-color: #f2f5e2;
} 
.grid .crea:hover{
    border: 3px solid #eedcbb;
    background-color: #f7f0e1;
} 

.a{
    text-decoration: none; 
    color: black;
} 
.a:hover{
    text-decoration: none; 
    color: black;  
}