body{
    padding: 50px;
}
img{
    float: left;
}
h4{
    font-family: "Homer Simpson UI";
    padding: 25px;
}

/* clases */
.ims{
    padding: 50px 50px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
       
}
.grid>div{
    background-color: white;
    
    
}
.grid-perfil{
    display: grid;
    justify-self: start;
}
.perfil{
    padding: 140px;
}
.grid-anidados{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-auto-rows: 350px;
    gap: 15px;
    /* justify-self: end; */
}
.grid-anidados>div{
    border-radius: 15px;
}
.grid-anidados .anidados01:hover{
    border: 3px solid #d6d6d6;
    background-color: #dbdbdb;
}
.grid-anidados .anidados02:hover{
    border: 3px solid #d6d6d6;
    background-color: #dbdbdb;
}
.grid-anidados .anidados03:hover{
    border: 3px solid #d6d6d6;
    background-color: #dbdbdb;
}
.a{
    text-decoration: none; 
    color: black;
} 
.a:hover{
    text-decoration: none; 
    color: black;  
}